body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
section {
  margin-bottom: 200px;
}
/* hero section */
.hero {
  display: flex;
}
.hero-section-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 240px;
}
.hero-section-contents h1 {
  font-size: 65px;
  margin: 0;
}
.hero-section-contents p {
  width: 471px;
  font-weight: 300;
  margin-bottom: 30px;
}
.hero-section-border {
  border-left: 2px solid orangered;
  padding-left: 20px;
  border-radius: 1px;
}
.text-color {
  color: orangered;
}
.btn {
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  background-color: rgb(54, 181, 231);
  color: white;
}
.hero-section-contents h3 {
  font-weight: 400;
  font-size: 12px;
  margin-top: 40px;
}
.hero-section-img {
  background-image: url(./images/person/person-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 623px;
  width: 426px;
}
.half-width {
  width: 50%;
}
/* goal section */
.goal {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.goal h2 {
  font-size: 48px;
  font-weight: bold;
}
.goal-cards {
  width: 1383px;
  display: flex;
  justify-content: space-between;
}
.goal-card {
  width: 360px;
  height: 376px;
  border-radius: 20px;
}
.goal-card h1 {
  font-size: 24px;
  font-weight: 600;
}
.goal-card p {
  font-size: 16px;
  font-weight: 300;
}
.goal-card-1 {
  background-color: rgb(243, 185, 165);
  padding: 20px;
}
.goal-card-2 {
  background-color: rgb(197, 243, 197);
  padding: 20px;
}
.goal-card-3 {
  background-color: rgb(243, 145, 164);
  padding: 20px;
}
/* develop section */
.develop {
  display: flex;
}
.develop-section-img {
  display: flex;
  justify-content: flex-end;
}
.develop-section-img img {
  margin-right: 309px;
}
.develop-section-contents h1 {
  font-size: 36px;
  font-weight: 700;
}
.develop-section-contents p {
  width: 654px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}
/* community section */
.community {
  display: flex;
}
.community-section-img {
  display: flex;
  justify-content: center;
}
.community-section-contents {
  display: flex;
  justify-content: flex-end;
}
.community-section-contents h1 {
  font-size: 36px;
  font-weight: 700;
}
.community-section-contents p {
  width: 700px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
}
/* extra section */
.extra {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.extra h2 {
  font-size: 48px;
  font-weight: bold;
}
.extra-cards {
  width: 1383px;
  display: flex;
  justify-content: space-between;
}
.extra-card {
  width: 360px;
  box-shadow: 2px 2px 20px black;
  border-radius: 20px;
}
.extra-card h1 {
  font-size: 24px;
  font-weight: 600;
}
.extra-card p {
  font-size: 16px;
  font-weight: 300;
}
.extra-card-1,
.extra-card-2,
.extra-card-3 {
  padding: 20px;
}
.extra-card-img-1 {
  background-image: url(./jhankar-bhai.jpg);
  width: 360px;
  height: 450px;
  background-repeat: no-repeat;
}
.extra-card-img-2 {
  background-image: url(./my\ pic.jpg);
  width: 360px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
}
.extra-card-img-3 {
  background-image: url(./programming-hero.jpg);
  width: 360px;
  height: 450px;
  background-size: contain;
  background-repeat: no-repeat;
}
